

*{
    box-sizing: border-box;
    margin:0;
    padding:3px;
    font-family: "Arial",sans-serif;
}
body{
    width: 100vw;
    height: 100vh;
}
body.main{
    display:flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
.main_header{
    font-size:x-large
}
.main_emblem{
    height:30vh;
    display:flex;
    align-items: center;
}
img{
    height:100px;
    width: 100px;
}
.main_check{
    height:7vh;

}
.check_header{
    font-size:large;
}

.check_table {
    margin-top: 30px;
    width: 400px;
    height: auto;
    border-collapse: collapse;
    /* 격자선이 하나로 보이게 함 */
    border: solid black 2px;
}

.check_table th,
.check_table td {
    border: solid black 1px;
    padding: 10px;
}

tr {
    border: solid black 1px;
}
.check_url{
    width:400px;
    margin-top:10px;
    display:flex;
    justify-content: end;
}
tr td:last-child{
    text-align: center;
}