<!DOCTYPE html>
<html lang="kor">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>메인페이지</title>
    <link rel="stylesheet" href="/stylesheets/day1.css">
</head>

<body class="main">
    <div class="main_header">
        <h1>나는 언제 졸업할까?</h1>
    </div>
    <div class="main_emblem">
        <a href="https://www.skku.edu/skku">
            <img src="/images/Emblem_02.png" alt="">
        </a>
    </div>
    <div class="main_check">
        <a href="./day1/check">졸업 기준 학점 확인하기</a>
    </div>
    <div class="main_add">
        <a href="./day1/add">학점 이수 계획 추가하기</a>
    </div>


</body>

</html>