<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="/stylesheets/day1.css">
</head>

<body>
    <div class="check_header">
        <h1>졸업 기준 학점</h1>
    </div>
    <table class="check_table">
        <tr>
            <th>구분 1</th>
            <th>구분 2</th>
            <th>기준 학점</th>
        </tr>
        <tr>
            <td rowspan="3">전공 학점</td>
            <td>전공코어 학점</td>
            <td>45</td>
        </tr>
        <tr>
            <td>전공심화 학점</td>
            <td>20</td>
        </tr>
        <tr>
            <td>전공실습 학점</td>
            <td>14</td>
        </tr>
        <tr>
            <td rowspan="4">교양 학점</td>
            <td>글로벌</td>
            <td>6</td>
        </tr>
        <tr>
            <td>DS기반</td>
            <td>9</td>
        </tr>
        <tr>
            <td>의사소통</td>
            <td>4</td>
        </tr>
        <tr>
            <td>창의</td>
            <td>3</td>
        </tr>
        <tr>
            <td colspan="2">총 학점</td>
            <td>120</td>
        </tr>
    </table>
    <div class="check_url">
        <a href="/day1">메인으로</a>
    </div>
</body>

</html>