<!DOCTYPE html>
<html>
  <head>
    <title><%= title %></title>
    <link rel='stylesheet' href='/stylesheets/index.css' />
  </head>
  <body>
    <div class="project-line">
      <div class="project-intro">
        <h1>프로젝트 소개 사이트</h1>
        <div class="project-intro-text">
          <span>###</span>
        </div>
        
      </div>
      
      <div class="card-container">
        <div class="card" id="day1-card">
          <a href="/day1">
            <div class="card-content">
              <h3>첫날 작업물</h3>
            </div>
          </a>
        </div>
        <div class="card" id="day2-card">
          <a href="/day2">
            <div class="card-content">
              <h3>둘째날 작업물</h3>
            </div>
          </a>
        </div>
        <div class="card" id="day3-card">
          <a href="/day3">
            <div class="card-content">
              <h3>셋째날 작업물</h3>
            </div>
          </a>
        </div>
      </div>

    </div>
  
  </body>
</html>
